<nb-card [accent]="etat ? 'danger' : 'success'">
    <nb-card-header>
      <div>
        <span>{{chmb.num}}</span>
        <img src="assets/home.png" width="50" style="float: right;">
      </div>
    </nb-card-header>
    <nb-card-body>
      <p><b>Prix par jour : </b>{{chmb.prix_par_jr}} Dt</p>
      <p><b>Type : </b>{{chmb.type_chmb}}</p>
      <p><b>Etat : </b>{{etat ? "Réservée" : "Libre"}}</p>
      <div *ngIf="etat">
        <p> <b>Date de location : </b>{{chmb.dt_lct | date:'d MMM y'}}</p>
        <p><b>Nombre de jours : </b>{{chmb.nb_jours}}</p>
        <p><b>Client : </b>{{clt.nom}}</p>
        <p><b>Numéro Tel. : </b>{{clt.numtel}}</p>
      </div>
      
      <!-- <div align="right"><a routerLink="/historique/{{chmb.num}}">Historique</a></div> -->
      
    </nb-card-body>
    <nb-card-footer>
        <p>
            <button nbButton status="primary" [disabled]="etat" (click)="openRes()">réserver</button>
            &nbsp;&nbsp;
            <button nbButton status="primary" (click)="openModf()">modifier</button>
        </p>
        
        
    </nb-card-footer>
  </nb-card>