<h1>Services</h1>
<hr>
<br>
<button nbButton status="primary" (click)="ajouterSrv()">ajouter service</button>
<h5>Liste des services :</h5>
<nb-card>
    <nb-accordion>
        <nb-accordion-item *ngFor="let srv of lst_srv">
         <nb-accordion-item-header>{{srv.label}}</nb-accordion-item-header>
         <nb-accordion-item-body>
           <p><b>Prix : </b> {{srv.prix}} Dt</p>
           <p><b>Catégorie : </b> {{srv.categorie}}</p>
           <p><a routerLink="/services/{{srv.id_srv}}/clients"><b>Clients</b></a></p>
           <button nbButton status="primary" (click)="effectuerSrv(srv)">effectuer service</button>&nbsp;&nbsp;
           <button nbButton status="primary" (click)="modfSrv(srv)">modifier</button>&nbsp;&nbsp;
           <button nbButton status="danger" (click)="supprimer(srv)">supprimer</button>
         </nb-accordion-item-body>
        </nb-accordion-item>
       </nb-accordion>
</nb-card>