<nb-card>
    <nb-card-header>
        RÉSERVATION
    </nb-card-header>
    <nb-card-body>
        <table cellspacing="10">
            <tr>
                <td>
                    <label for="dt"><b>Date : </b></label>
                </td>
                <td>
                    <input nbInput [nbDatepicker]="datepicker" id="dt" fieldSize="medium" [(ngModel)]="form.dt_lct">
                    <nb-datepicker #datepicker [filter]="filterFn"></nb-datepicker>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="nb-jr"><b>Nombre de jours : </b></label>
                </td>
                <td>
                    <input nbInput type="number" id="nb-jr" fieldSize="medium" [(ngModel)]="form.nb_jours">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="nom_clt"><b>Nom du client : </b></label>
                </td>
                <td>
                    <input nbInput type="text" id="nom_clt" fieldSize="medium" [(ngModel)]="form.nom_clt">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="num_tel"><b>Numéro tel. : </b></label>
                </td>
                <td>
                    <input nbInput type="number" id="num_tel" fieldSize="medium" [(ngModel)]="form.num_tel">
                </td>
            </tr>
        </table>
        
        
    </nb-card-body>
    <nb-card-footer align="center">
        <button nbButton status="primary" (click)="reserver()">réserver</button>&nbsp;&nbsp;
        <button nbButton status="danger" (click)="annuler()">annuler</button>
    </nb-card-footer>
</nb-card>