<nb-card>
    <nb-card-header>Modifier Service</nb-card-header>
    <nb-card-body>
        <table cellspacing="10">
            <tr>
                <td><label for="label"><b>Label : </b></label></td>
                <td><input nbInput type="text" id="label" fieldSize="medium" [(ngModel)]="srv.label"></td>
            </tr>
            <tr>
                <td><label for="prix"><b>Prix : </b></label></td>
                <td><input nbInput type="number" id="prix" fieldSize="medium" [(ngModel)]="srv.prix"></td>
            </tr>
            <tr>
                <td><label for="catg"><b>Catégorie : </b></label></td>
                <td><input nbInput type="text" id="catg" fieldSize="medium" [(ngModel)]="srv.categorie"></td>
            </tr>
        </table>
    </nb-card-body>
    <nb-card-footer align="center">
        <button nbButton status="primary" (click)="close()">modifier</button>&nbsp;&nbsp;
        <button nbButton status="danger" (click)="annuler()">annuler</button>
    </nb-card-footer>
</nb-card>