<nb-card>
    <nb-card-header>Modfier Plat</nb-card-header>
    <nb-card-body>
        <table cellspacing="10">
            <tr>
                <td><label for="nom"><b>Nom : </b></label></td>
                <td><input nbInput type="text" id="nom" fieldSize="medium" [(ngModel)]="plat.nom"></td>
            </tr>
            <tr>
                <td><label for="prix"><b>Prix : </b></label></td>
                <td><input nbInput type="number" id="prix" fieldSize="medium" [(ngModel)]="plat.prix"></td>
            </tr>
            <tr>
                <td><label for="tmp-prep"><b>Temps de préparation : </b></label></td>
                <td><input nbInput type="number" id="tmp-prep" fieldSize="medium" [(ngModel)]="plat.tmp_prep"></td>
            </tr>
            <tr>
                <td><label for="type"><b>Type : </b></label></td>
                <td><input nbInput type="text" id="type" fieldSize="medium" [(ngModel)]="plat.type"></td>
            </tr>
        </table>
    </nb-card-body>
    <nb-card-footer align="center">
        <button nbButton status="primary" (click)="close()">modifier</button>&nbsp;&nbsp;
        <button nbButton status="danger" (click)="annuler()">annuler</button>
    </nb-card-footer>
</nb-card>