<nb-card [accent]="details.etat ? 'danger' : 'success'">
    <nb-card-header>
      <div>
        <span>{{details.num}}</span>
        <img src="assets/event.png" width="50" style="float: right;">
      </div>
    </nb-card-header>
    <nb-card-body>
      <p><b>Prix par jour : </b>{{details.prixParJr}} Dt</p>
      <p><b>Type : </b>{{details.type}}</p>
      <p><b>Etat : </b>{{details.etat ? "Réservée" : "Libre"}}</p>
      <div *ngIf="details.etat">
        <p> <b>Date de location : </b>{{details.dt_lct}}</p>
        <p><b>Nombre de jours : </b>{{details.nb_jour}}</p>
      </div>
      
      <div align="right"><a routerLink="/historique/{{details.num}}">Historique</a></div>
      
    </nb-card-body>
    <nb-card-footer align="center">
        <p>
            <button nbButton status="primary" (click)="openModf()">valider</button>
        </p>
        
        
    </nb-card-footer>
  </nb-card>