<nb-card>
    <nb-card-header>
      <div>
        <span>{{details.nom_evt}}</span>
        <img src="assets/event.png" width="50" style="float: right; margin-left: 20px;">
      </div>
    </nb-card-header>
    <nb-card-body>
      <p><b>Date de debut : </b>{{details.dt_debut}}</p>
      <p><b>Date de fin : </b>{{details.dt_fin}}</p>
      <p><b>Type d'évènement : </b>{{details.type_evt}}</p>
      
    </nb-card-body>
    <nb-card-footer align="center">
        <p>
            <button nbButton status="primary" (click)="openModf()" required="details.etat">valider</button>
        </p>
        
        
    </nb-card-footer>
  </nb-card>